/* SPDX-FileCopyrightText: 2023 Sayantan Santra <sayantan.santra689@gmail.com> */
/* SPDX-License-Identifier: MIT */

@font-face {
    font-family: Montserrat;
    src: url('/assets/Montserrat-VF.woff2');
}

* {
    font-family: Montserrat;
}

.container {
    max-width: 1200px;
    margin: 20px auto auto;
}

table tr td div {
    max-height: 75px;
    line-height: 25px;
    word-wrap: break-word;
    max-width: 575px;
    overflow: auto;
}

.pure-table td {
    border-left: none;
}

td[name="hitsColumn"] {
    text-align: right;
}

td[name="deleteBtn"] div {
    display: flex;
    align-items: center;
    justify-content: center;
}

td[name="deleteBtn"] {
    text-align: center;
}

td[name="deleteBtn"] div button {
    border-radius: 100%;
    aspect-ratio: 1;
    border-style: solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: transparent;
}

input {
    width: 65%;
}

form input[name="shortUrl"]::placeholder {
    text-transform: none;
}

div[name="links-div"] {
    position: absolute;
    right: 0.5%;
    top: 0.5%;
}

.pure-table {
    width: 98%;
}

.pure-table caption {
    font-size: 22px;
    text-align: left;
    font-style: normal;
}

#logo {
    font-size: 32px;
}

#password {
    width: 100%;
    margin-bottom: 10px;
}

dialog form {
    text-align: center;
}

/* Settings for mobile devices */
@media (pointer:none),
(pointer:coarse) {
    .container {
        max-width: 100vw;
    }

    .pure-control-group input {
        width: 98%;
    }

    table tr {
        border-bottom: 1px solid #999;
    }

    table thead {
        display: none;
    }

    table td {
        display: flex;
        justify-content: left !important;
        width: 98vw;
        padding: .5em .1em !important;
    }

    table td::before {
        content: attr(label);
        font-weight: bold;
        width: 120px;
        min-width: 120px;
        text-align: left;
    }

    .pure-table caption {
        padding-top: 0px;
    }
}
