@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url('Montserrat.ttf');
} 

@font-face {
    font-family: Montserrat;
    font-style: italic;
    src: url('Montserrat-Italic.ttf');
} 

* {
    font-family: Montserrat;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: 20px auto auto;
}

table tr td div {
    max-height: 75px;
    line-height: 25px;
    word-wrap: break-word;
    max-width: 575px;
    overflow: auto;
}

td[name="deleteBtn"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

td[name="deleteBtn"] button {
    border-radius: 50%;
    aspect-ratio: 1;
    border-style: solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: transparent;
}

input {
    width: 65%;
}

form input[name="shortUrl"] {
    text-transform: lowercase;
}

form input[name="shortUrl"]::placeholder {
    text-transform: none;
}

div[name="github-link"] {
    position: absolute;
    right: 0.5%;
    top: 0.5%;
}

.pure-table {
    width: 98%;
    visibility: hidden;
}

.pure-table caption {
    font-size: 22px;
    text-align: left;
    font-style: normal;
}

#logo {
    font-size: 32px;
}

#password {
    width: 100%;
    margin-bottom: 10px;
}

dialog form {
    text-align: center;
}

/* Settings for mobile devices */
@media (pointer:none),
(pointer:coarse) {
    .container {
        max-width: 100vw;
    }

    .pure-control-group input {
        width: 98%;
    }
    
    table tr {
        border-bottom: 1px solid #999;
    }

    table thead {
        display: none;
    }

    table td {
        display: flex;
        justify-content: left !important;
    }

    table td::before {
        content: attr(label);
        font-weight: bold;
        width: 120px;
        min-width: 120px;
        text-align: left;
    }

    td[name="deleteBtn"] button {
        border-radius: 50%;
        aspect-ratio: 1;
    }

    .pure-table caption {
        padding-top: 0px;
    }
}

